name: Metrics (linguagens por commits)
on:
  schedule: [{ cron: "0 6 1 * *" }]
  workflow_dispatch:
permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: vn7n24fzkq/github-profile-summary-cards@release
        env:
          GITHUB_TOKEN: ${{ secrets.METRICS_TOKEN }}
        with:
          USERNAME: carlosHDOliveira
          BRANCH_NAME: "main"
          UTC_OFFSET: -3
          EXCLUDE: ""
          AUTO_PUSH: true
